/* Teksttype og baggrundsfarve for hele hjemmesiden */
body {
  font-family: 'Poppins';
  background-color: #FDFEF6;
}

/* Runde hjørner og størrelse på forside video */
.background-video {
  border-radius: 40px 40px 40px 40px;
  width: 100%;
}

/* forside tekst, til "Zero Buzz Brew - Et Sundere valg */
.front-tekst, .front-tekst-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7%;
  color: #111552;
}
/* centrering af forside tekst under elementer på forsiden */
.front-tekst-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  color: #111552;
}

/* Brugt til centrering af overskrift på siderne. F.eks. "produkter" og "fremstilling" */
.front-tekst-sider {
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  padding: 5%;
  color: #111552;
}
/* logo i navbar */
.nav-logo {
  float: left;
  width: 8%;
  margin: 0 7%
}

.topnav {
  overflow: hidden;
}

/* style af links inde i navigationsmenu*/
.topnav a {
  float: none;
  display: inline-block;
  color: #111552;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 5%;
}

/* skjuler linket for topnavigation på små skærme*/
.topnav .icon {
  display: none;
}

/* dropdown menu, sætter position for dropdown*/
.dropdown {
  float: left;
  overflow: hidden;
  margin: 0 5%;
}

/* style dropdown så den kan være i topnav*/
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #111552;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* style links i dropdown*/
.dropdown-content a {
  float: none;
  color: #111552;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* giver baggrundsfarve på dropdown når man hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #6189A0;
  color: #fdfef6;
  border-radius: 10px;
  transition: 0.4s;
}

/* giver en grå farve på hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* viser dropdown når man tager musen over "om os" */
.dropdown:hover .dropdown-content {
  display: block;
}

/*Når skærmen er mindre end 600 pixels bred, skjul alle links undtagen det første. Vis linket, der skal åbne og lukke topnavigationen (.icon). */
@media screen and (max-width: 600px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* "Responsive" klassen tilføjes til topnavigationen med JavaScript, når brugeren klikker på ikonet. Denne klasse får topnavigationen til at se godt ud på små skærme (viser links lodret i stedet for vandret). */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

  /* Skjul logoet når burgerbaren er åben */
.topnav.responsive .nav-logo {
  display: none;
}

@media screen and (min-width: 600px) {
  .topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 600px) {
  .nav-logo {
    float: left;
    width: 8%;
  }
}

/* bliver brugt som en overodnet class for at sætte produkt bokse ved siden af hinanden og med pixels imellem dem */
.whole {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
/* brugt til at ændre udseende og størrelse på produkt kortet */
.product-card {
  width: 400px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #111552;
}

/* Er til for at sætte størrelsen på billedet inde i product-card */
.product-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
/* giver den en hover effekt så den bliver forstørret når man tager musen over */
.product-card:hover {
  transform: scale(1.02);
  transition: 0.4s;
}
/* giver forstørringseffekt til billede når man hover */
.product-img:hover {
  transform: scale(1.05);
  transition: 0.4s;
}
/* instillinger for produkt knappen */
.produkt-knap {
  background-color: #111552;
  color: #fdfef6;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 350px;
  font-size: large;
  box-shadow: 0px 2px 5px 0px rgb(26, 25, 25);
}
/* Giver en forstørrelses effekt når man hover over "bestil" */
.produkt-knap:hover {
  background-color: #1a3850;
  transform: scale(1.05);
  transition: 0.4s;
}
/* Gør det mindre og sætter produkter i en kollonne når skærmen er mindre en 600px */
@media screen and (max-width: 600px) {
  .whole {
    display: flex;
    flex-direction: column;
    gap: 7em;
  }
}

/* gør prouktkort mindre når størrelsen komme under 820px */
@media screen and (max-width: 820px) {

  .product-card,
  .produkt-knap {
    width: 90%;

  }
}

/* overordnet section til artikel kort som er på forsiden */
.artikel-whole {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

/* instilling for udseende på artikel kort */
.artikel-kort {
  width: 300px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 20px;
  color: #000000;
}

/* Giver effekt til artikel kort når man hover */
.artikel-kort:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

/* Instilling for foto inde i artikel kort. Gør de passer ind i kortene */
.artikel-img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}
/* Kode til at indstille udseende for links i artikel kortene */
.artikel-knap {
  background-color: #111552;
  color: #fdfef6;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 300px;
  font-size: medium;
  box-shadow: 0px 2px 5px 0px rgb(26, 25, 25);
}
/* giver artikel kortene en effekt når man kører musen over */
.artikel-knap:hover {
  background-color: #1a3850;
  transform: scale(1.05);
  transition: 0.4s;
}
/* centrering, teksfarve på footer tekst */
.footer {
  color: #000000;
  text-align: center;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: -5px;
}

/* gør at artikle kommer i en kollonne når skærmstørrelsen er under 600px */
@media screen and (max-width: 600px) {
  .artikel-whole {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
}

/* gør at størrelse på artikel kort, knap og tekst ændrer størrelse */
@media screen and (max-width: 600px) {

  .artikel-kort,
  .artikel-knap {
    width: auto;
    font-size: 12px;
  }
}

/* Gør at billederne på artikel kort ikke bliver vist når skærmstørrelsen er under 600px */
@media screen and (max-width: 600px) {
  .artikel-img {
    display: none;
  }
}

/* Overordnet section så billede og tekst bliver sat ved siden af hinanden. F.eks. på siden "hvorfor.html" */
.over-image-text {
  display: flex;
  align-items: center;
  color: #111552;
}
/* Indstilling for størrelse af billedet, runde hjørner og box shadow omkring billedet */
#billede-forside {
  width: 50%;
  margin: 5%;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 2px 5px 0px rgb(26, 25, 25);
}
/* Indstilling for opsætning af tekst og hvordan det ser ud ved siden af billederne. F.eks. på siden "hvorfor" */
.tekst-forside {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 600px;
  color: #111552;
  line-height: 1.5;
  padding: 7%;
}
/* Indstilling på udseende af knappen som siger "læs mere" på f.eks."hvorfor" */
#knap-tekst {
  color: #ddd;
  text-decoration: none;
  padding: 14px 16px;
  background-color: #111552;
  max-width: 150px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgb(26, 25, 25);
}
/* Hvordan "læs mere" knappen se ud når man kører musen over */
#knap-tekst:hover {
  background-color: #1a3850;
  transform: scale(1.05);
  transition: 0.4s;
}
/* Indstilling for størrelse, placering og udseende på video på siderne, "fremstilling" og "hvorfor" */
.side-video {
  width: 50%;
  margin: 5%;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 2px 5px 0px rgb(26, 25, 25);
}

/* Ændrer på tekst, video og positon når skærmstørrelsen bliver mindre end 600px */
@media screen and (max-width: 600px) {

  .whole-artikel, 
  .tekst-forside {
    display: flex;
    font-size: 80%;
    flex-direction: column;
    align-items: center;
  }
}